SP.Service/Service References/TanqueServiceHost/TanqueService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52602/TanqueService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SP.Contract.Data" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="_tanque" nillable="true" type="q1:Tanque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="InserirResult" nillable="true" type="q2:Tanque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="BuscarTodosResult" nillable="true" type="q3:ArrayOfTanque" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QtdeDisponivel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element minOccurs="0" name="quantidade" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QtdeDisponivelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QtdeDisponivelResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>