SP.Service/Service References/TanqueServiceHost/TanqueService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SP.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SP.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tanque">
    <xs:sequence>
      <xs:element minOccurs="0" name="bombas" nillable="true" type="tns:ArrayOfBomba" />
      <xs:element minOccurs="0" name="capacidade" type="xs:int" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tanque" nillable="true" type="tns:Tanque" />
  <xs:complexType name="ArrayOfBomba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bomba" nillable="true" type="tns:Bomba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBomba" nillable="true" type="tns:ArrayOfBomba" />
  <xs:complexType name="Bomba">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Bomba" nillable="true" type="tns:Bomba" />
  <xs:complexType name="ArrayOfTanque">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tanque" nillable="true" type="tns:Tanque" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTanque" nillable="true" type="tns:ArrayOfTanque" />
</xs:schema>