SP.Service/Service References/BombaServiceHost/BombaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52602/BombaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SP.Contract.Data" />
  <xs:element name="Buscar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroBomba" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="BuscarResult" nillable="true" type="q1:Bomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarAbastecimento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroBomba" type="xs:int" />
        <xs:element minOccurs="0" name="qtde" type="xs:int" />
        <xs:element minOccurs="0" name="tipoCombustivel" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LiberarAbastecimentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="LiberarAbastecimentoResult" nillable="true" type="q2:Bomba" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>