SP.Service/Service References/ClienteServiceHost/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52602/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SP.Contract.Data" />
  <xs:element name="Inserir">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="InserirResult" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPeloCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPeloCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="BuscarPeloCodigoResult" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPeloCartaoESenha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="senha" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPeloCartaoESenhaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SP.Contract.Data" minOccurs="0" name="BuscarPeloCartaoESenhaResult" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>