SP.Service/Service References/ClienteServiceHost/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52602/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52602/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52602/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SP.Contract.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_Inserir_InputMessage">
    <wsdl:part name="parameters" element="tns:Inserir" />
  </wsdl:message>
  <wsdl:message name="IClienteService_Inserir_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_BuscarPeloCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPeloCodigo" />
  </wsdl:message>
  <wsdl:message name="IClienteService_BuscarPeloCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPeloCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_BuscarPeloCartaoESenha_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPeloCartaoESenha" />
  </wsdl:message>
  <wsdl:message name="IClienteService_BuscarPeloCartaoESenha_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarPeloCartaoESenhaResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="Inserir">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/Inserir" message="tns:IClienteService_Inserir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/InserirResponse" message="tns:IClienteService_Inserir_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPeloCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/BuscarPeloCodigo" message="tns:IClienteService_BuscarPeloCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/BuscarPeloCodigoResponse" message="tns:IClienteService_BuscarPeloCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPeloCartaoESenha">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/BuscarPeloCartaoESenha" message="tns:IClienteService_BuscarPeloCartaoESenha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/BuscarPeloCartaoESenhaResponse" message="tns:IClienteService_BuscarPeloCartaoESenha_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Inserir">
      <soap:operation soapAction="http://tempuri.org/IClienteService/Inserir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPeloCodigo">
      <soap:operation soapAction="http://tempuri.org/IClienteService/BuscarPeloCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPeloCartaoESenha">
      <soap:operation soapAction="http://tempuri.org/IClienteService/BuscarPeloCartaoESenha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:52602/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>