SP.Service/Service References/ClienteServiceHost/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SP.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SP.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente_ID" type="xs:int" />
      <xs:element minOccurs="0" name="ativo" type="xs:boolean" />
      <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cpf" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endereco" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fonecelular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fonecomercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="foneresidencial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="num" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="rg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
</xs:schema>